:root {
  --color-gray-dark: #373737;
  --color-gray-1: #707070;
  --color-gray-light: #f0f0fa;
  --color-gray-light-2: #acacac;
  --color-purple: #ba66f9;
  --color-purple-dark: #7266fa;
  --color-blue: #03a9f4;
  --color-red: #d93636;
  --color-bg: #3f3d56;
  --color-white: #f4f5f9;
  --border-radius: 1.2rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  line-height: 1.4;
  font-weight: 400; }

body {
  padding: 2rem;
  background-color: var(--color-bg); }

.app-container {
  display: grid;
  grid-template-columns: 43fr 57fr;
  margin: 0 auto;
  height: calc(100vh - 4rem);
  max-width: 140rem;
  border-radius: 3.5rem;
  overflow: hidden;
  background-color: #fff; }

.hero {
  background-color: var(--color-gray-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .hero__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
    .hero__logo_heading {
      color: var(--color-gray-light-2);
      font-weight: 400; }
  .hero__img {
    width: 45rem; }

.enter {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .enter__heading {
    margin-top: 7rem;
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--color-gray-1); }
    .enter__heading span {
      font-size: 2.2rem;
      font-weight: 500;
      color: var(--color-gray-light-2);
      cursor: pointer; }
    .enter__heading--active {
      font-size: 3.4rem !important;
      color: var(--color-gray-1) !important; }
  .enter__form {
    display: none;
    flex-direction: column;
    align-self: stretch;
    width: 60%;
    margin: 0 auto; }
    .enter__form--active {
      display: flex; }
    .enter__form-input {
      border: none;
      border-bottom: 1px solid var(--color-gray-light-2);
      background-color: none;
      font-size: 2rem;
      padding: 1rem 1rem;
      margin-bottom: 5rem;
      color: var(--color-gray-1); }
      .enter__form-input::placeholder {
        font-family: inherit;
        color: var(--color-gray-light-2); }
      .enter__form-input:focus {
        outline: transparent;
        border-bottom: 1px solid var(--color-purple-dark); }
    .enter__form-btn {
      width: 35%;
      border: none;
      margin: 0 auto;
      font-size: 2rem;
      padding: 1rem 1rem;
      color: var(--color-white);
      background-color: var(--color-purple-dark);
      border-radius: 1.5rem;
      cursor: pointer; }
    .enter__form-hint {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.4rem;
      color: var(--color-gray-light-2); }
      .enter__form-hint a {
        color: var(--color-gray-1);
        text-decoration: none; }
        .enter__form-hint a:hover {
          text-decoration: underline; }
  .enter__copyright {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-gray-light-2); }
    .enter__copyright span {
      color: var(--color-gray-1);
      font-weight: 500; }
