:root {
  --primary-font: "Inter", sans-serif;
  --primary-color: #6667ab;
  --primary-color-gray: #0a0a11;
  --primary-color-gray2: #1f1f33;
  --primary-color-light: #e0e1ee;
  --color-green: #057a55;
  --color-red: #ac1410; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--primary-font);
  color: var(--primary-color-light);
  font-size: 1.6rem; }

.login__box_btn {
  background-color: var(--primary-color-light);
  border: none;
  font-size: 2rem;
  padding: 1.5rem 1rem;
  border-radius: 11px;
  font-family: inherit;
  font-weight: 700; }

.header__btn--logOut {
  text-decoration: none;
  color: inherit; }
  .header__btn--logOut:hover {
    text-decoration: underline; }

.operations__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  border-bottom: 1px solid var(--primary-color-gray2); }

.home__body {
  background-color: var(--primary-color); }

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: var(--primary-color-gray2);
  backdrop-filter: blur(2rem); }
  .header__logo {
    height: 3rem; }

.container {
  max-width: 140rem;
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 40rem;
  column-gap: 4rem;
  row-gap: 2rem; }

.card {
  background: linear-gradient(to right bottom, #0a0a11f3, rgba(31, 31, 51, 0.966));
  border-radius: 5rem;
  padding: 5rem; }
  .card__name {
    text-align: right;
    font-size: 2.6rem;
    margin-bottom: 3rem; }
  .card__number {
    font-size: 4rem;
    margin-bottom: 8rem; }
  .card__owner {
    font-size: 3.6rem;
    margin-bottom: 4rem; }
  .card__balance {
    font-size: 2.2rem;
    text-transform: uppercase; }
  .card__balance_value {
    font-size: 2.4rem;
    font-weight: 500; }

.movements {
  background-color: var(--primary-color-gray2);
  background: linear-gradient(to right bottom, #0a0a11f3, rgba(31, 31, 51, 0.966));
  border-radius: 2rem;
  padding: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  .movements::-webkit-scrollbar {
    display: none; }
  .movements__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    border-bottom: 1px solid var(--primary-color); }
  .movements__type--deposit {
    color: var(--color-green); }
  .movements__type--withdrawal {
    color: var(--color-red); }

.summery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  grid-column: 2/3;
  padding: 1rem 3.4rem;
  background-color: var(--primary-color-gray2);
  border-radius: 11px;
  font-weight: 500;
  font-size: 1.8rem; }
  .summery__value--in, .summery__value--interest {
    color: var(--color-green); }
  .summery__value--out {
    color: var(--color-red); }

.sort {
  cursor: pointer; }

.operation {
  border-bottom: 2px solid var(--primary-color-gray2);
  padding: 2rem 0; }

.operations--close {
  grid-column: 2/3; }

.operations {
  grid-row: 3/4;
  display: flex;
  align-items: flex-start;
  gap: 5rem; }
  .operations__heading {
    color: var(--primary-color-gray2);
    margin-bottom: 2rem; }
  .operations__form {
    display: flex;
    gap: 1.5rem; }
  .operations__input {
    width: 60%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-color-gray2);
    padding: 1rem 0.5rem; }
    .operations__input::placeholder {
      color: var(--primary-color-gray2); }
    .operations__input:focus, .operations__input:active {
      outline: none;
      border-bottom: 1px solid var(--color-green); }

.login {
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 2fr; }
  .login__left {
    background-color: var(--primary-color);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    .login__left_textbox {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .login__left_textbox h1 {
        font-size: 6rem;
        font-weight: 400; }
    .login__left img {
      height: 35rem; }
    .login__left_logo {
      height: 10rem !important; }
  .login__right {
    background-color: var(--primary-color-gray);
    display: flex;
    align-items: center; }
  .login__box {
    width: 30vw;
    padding: 3rem;
    border-radius: 11px;
    transform: translateX(-20rem);
    background-color: var(--primary-color-gray2);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    box-shadow: 11px 11px 18px #09090f; }
    .login__box_logo {
      height: 5rem;
      align-self: start; }
    .login__box_welcome {
      font-size: 4.2rem; }
    .login__box_form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem; }
    .login__box_input {
      background-color: var(--primary-color-gray);
      border: 1px solid var(--primary-color);
      font-size: 1.8rem;
      padding: 1.5rem 1rem;
      border-radius: 11px;
      color: var(--primary-color-light); }
