<main>
  <!-- <div class="card">
    <p class="card__bank-name">Saman</p>
    <p class="card__number">6219 8610 4429 5383</p>
    <div class="card__info">
      <p class="card__owner">erfan eslami</p>
      <p class="card__cvv">654</p>
      <p class="card__exp">07/05</p>
    </div>
  </div> -->
  <app-card></app-card>

  <!-- <div class="balance-sammery"> -->
  <!-- <div class="balance-sammery__filters">
      <ul class="filters">
        <li class="filter--week">Week</li>
        <li class="filter--month">Month</li>
        <li class="filter--year">Year</li>
      </ul>
    </div>
    <div class="balance-sammery__progress-circle">
      <canvas id="myChart"></canvas>
    </div>
    <div class="balance-sammery__details">
      <ul>
        <li>
          <span> Balance : </span>
          <span class="balance-sammery__balance"> 12,000</span>
        </li>
        <li>
          <span> Income : </span>
          <span class="balance-sammery__income"> 15,000</span>
        </li>
        <li>
          <span> Expenses : </span>
          <span class="balance-sammery__expense"> 3,000</span>
        </li>
      </ul>
    </div> -->
  <!-- </div> -->
  <app-balance-chart></app-balance-chart>

  <!-- <div class="card-detail"> -->
  <!-- <ul>
      <li>
        <span class="card-detail__head">ID</span>
        <span class="card-detail__value card-detail__value--ID">545612358</span>
      </li>
      <li>
        <span class="card-detail__head">Account</span>
        <span class="card-detail__value card-detail__value--card-number"
          >6219 8610 4429 5383</span
        >
      </li>
      <li>
        <span class="card-detail__head">Status</span>
        <span class="card-detail__value">Active</span>
      </li>
      <li>
        <span class="card-detail__head">Balance</span>
        <span class="card-detail__value card-detail__value--balance"
          >12,000 R</span
        >
      </li>
    </ul> -->
  <!-- </div> -->

  <app-account-detail></app-account-detail>

  <app-transactions></app-transactions>
  <!-- <div class="transaction"> -->
  <!-- <h2 class="transaction__heading">Last Transactions</h2>
    <ul class="transaction__heads">
      <li>
        <span class="transaction__heads__descrption">Description</span
        ><span class="transaction__heads__time">Time</span
        ><span class="transaction__heads__status">Status</span
        ><span class="transaction__heads__amount">Amount</span>
      </li>
    </ul>
    <ul class="transaction__container">
      <li>
        <span class="transaction__descrption">Namava</span
        ><span class="transaction__time"> Today at 12:30 </span
        ><span class="transaction__status">Successfully</span
        ><span class="transaction__amount">7,500 R</span>
      </li>
      <li>
        <span class="transaction__descrption">Korosh</span
        ><span class="transaction__time"> Yesterday at 09:15</span
        ><span class="transaction__status">Successfully</span
        ><span class="transaction__amount">105,000 R</span>
      </li>
      <li>
        <span class="transaction__descrption">Korosh</span
        ><span class="transaction__time"> Yesterday at 09:13</span
        ><span class="transaction__status transaction__status--cancel"
          >Canceled</span
        ><span class="transaction__amount">105,000 R</span>
      </li>
      <li>
        <span class="transaction__descrption">Snap</span
        ><span class="transaction__time"> 2021/10/10</span
        ><span class="transaction__status">Successfully</span
        ><span class="transaction__amount">30,000 R</span>
      </li>

      <li>
        <span class="transaction__descrption">Korosh</span
        ><span class="transaction__time"> Yesterday at 09:13</span
        ><span class="transaction__status transaction__status--cancel"
          >Canceled</span
        ><span class="transaction__amount">105,000 R</span>
      </li>
      <li>
        <span class="transaction__descrption">Snap</span
        ><span class="transaction__time"> 2021/10/10</span
        ><span class="transaction__status">Successfully</span
        ><span class="transaction__amount">30,000 R</span>
      </li>
      <li>
        <span class="transaction__descrption">Korosh</span
        ><span class="transaction__time"> Yesterday at 09:13</span
        ><span class="transaction__status transaction__status--cancel"
          >Canceled</span
        ><span class="transaction__amount">105,000 R</span>
      </li>
      <li>
        <span class="transaction__descrption">Snap</span
        ><span class="transaction__time"> 2021/10/10</span
        ><span class="transaction__status">Successfully</span
        ><span class="transaction__amount">30,000 R</span>
      </li>
    </ul> -->
  <!-- </div> -->
</main>
