<div class="transaction">
  <h2 class="transaction__heading">Last Transactions</h2>
  <ul class="transaction__heads">
    <li>
      <span class="transaction__heads__descrption">Description</span
      ><span class="transaction__heads__time">Time</span
      ><span class="transaction__heads__status">Status</span
      ><span class="transaction__heads__amount">Amount</span>
    </li>
  </ul>
  <ul class="transaction__container">
    <li *ngFor="let move of user.movements">
      <span class="transaction__descrption">{{ move.description }}</span
      ><span class="transaction__time"> {{ move.time }} </span
      ><span class="transaction__status">{{ move.status }}</span
      ><span class="transaction__amount">{{ move.amount }} R</span>
    </li>
  </ul>
</div>
