<div class="transaction">
  <h2 class="transaction__heading">Last Transactions</h2>
  <ul class="transaction__heads">
    <li>
      <span class="transaction__heads__descrption">Description</span
      ><span class="transaction__heads__time">Time</span
      ><span class="transaction__heads__status">Status</span
      ><span class="transaction__heads__amount">Amount</span>
    </li>
  </ul>
  <ul class="transaction__container">
    <li>
      <span class="transaction__descrption">Namava</span
      ><span class="transaction__time"> Today at 12:30 </span
      ><span class="transaction__status">Successfully</span
      ><span class="transaction__amount">7,500 R</span>
    </li>
    <li>
      <span class="transaction__descrption">Korosh</span
      ><span class="transaction__time"> Yesterday at 09:15</span
      ><span class="transaction__status">Successfully</span
      ><span class="transaction__amount">105,000 R</span>
    </li>
    <li>
      <span class="transaction__descrption">Korosh</span
      ><span class="transaction__time"> Yesterday at 09:13</span
      ><span class="transaction__status transaction__status--cancel"
        >Canceled</span
      ><span class="transaction__amount">105,000 R</span>
    </li>
    <li>
      <span class="transaction__descrption">Snap</span
      ><span class="transaction__time"> 2021/10/10</span
      ><span class="transaction__status">Successfully</span
      ><span class="transaction__amount">30,000 R</span>
    </li>

    <li>
      <span class="transaction__descrption">Korosh</span
      ><span class="transaction__time"> Yesterday at 09:13</span
      ><span class="transaction__status transaction__status--cancel"
        >Canceled</span
      ><span class="transaction__amount">105,000 R</span>
    </li>
    <li>
      <span class="transaction__descrption">Snap</span
      ><span class="transaction__time"> 2021/10/10</span
      ><span class="transaction__status">Successfully</span
      ><span class="transaction__amount">30,000 R</span>
    </li>
    <li>
      <span class="transaction__descrption">Korosh</span
      ><span class="transaction__time"> Yesterday at 09:13</span
      ><span class="transaction__status transaction__status--cancel"
        >Canceled</span
      ><span class="transaction__amount">105,000 R</span>
    </li>
    <li>
      <span class="transaction__descrption">Snap</span
      ><span class="transaction__time"> 2021/10/10</span
      ><span class="transaction__status">Successfully</span
      ><span class="transaction__amount">30,000 R</span>
    </li>
  </ul>
</div>
