.balance-sammery {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 55rem;
  align-items: center;
  justify-items: center;
  align-items: center;

  &__filters {
    ul {
      list-style: none;
      font-size: 1.4rem;
      font-weight: 400;
      color: (var(--color-gray-1));
      line-height: 2;
      cursor: pointer;

      li:hover {
        text-decoration: underline;
      }
    }
  }

  &__progress-circle {
    width: 12rem;
  }

  &__details {
    justify-self: stretch;
    padding: 0 3rem;
    width: 90%;
    ul {
      text-align: center;
      list-style: none;
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--color-gray-1);
      li {
        padding: 0.8rem 1.5rem;
        border-bottom: 1px solid var(--color-gray-1);
        position: relative;

        display: flex;
        justify-content: space-between;

        &:nth-child(2):before,
        &:nth-child(3)::before {
          content: "";
          width: 1rem;
          height: 1rem;
          position: absolute;
          top: 1.1rem;
          left: 0.5rem;
          background-color: rebeccapurple;
        }
        &:nth-child(2):before {
          background-color: var(--color-purple);
        }
        &:nth-child(3)::before {
          background-color: var(--color-blue);
        }

        span {
          flex-basis: 8rem;
        }
      }
    }
  }
}
