<div class="balance-sammery">
  <div class="balance-sammery__filters">
    <ul class="filters">
      <li class="filter--week">Week</li>
      <li class="filter--month">Month</li>
      <li class="filter--year">Year</li>
    </ul>
  </div>
  <div class="balance-sammery__progress-circle">
    <canvas id="myChart" #myChart></canvas>
  </div>
  <div class="balance-sammery__details">
    <ul>
      <li>
        <span> Balance : </span>
        <span class="balance-sammery__balance"> 12,000</span>
      </li>
      <li>
        <span> Income : </span>
        <span class="balance-sammery__income"> 15,000</span>
      </li>
      <li>
        <span> Expenses : </span>
        <span class="balance-sammery__expense"> 3,000</span>
      </li>
    </ul>
  </div>
</div>
