.card-detail {
  ul {
    // width: 32rem;
    list-style: none;
    font-size: 1.4rem;
    // line-height: 5rem;

    li {
      padding: 1rem 2rem;
      border-bottom: 1px solid var(--color-gray-light-2);
      display: flex;

      .card-detail__head {
        display: block;
        width: 10rem;
        color: var(--color-purple-dark);
      }

      .card-detail__value {
        display: block;
      }
    }
  }
}
