<form class="enter__form enter__form--active" action="#">
  <input
    class="enter__form-input enter__form-input--email"
    placeholder="Full name"
    type="text"
    name="fullName"
    id="fullName"
  />
  <input
    class="enter__form-input enter__form-input--email"
    placeholder="Email"
    type="email"
    name="email"
    id="email"
  />
  <input
    class="enter__form-input enter__form-input--password"
    placeholder="Password"
    type="password"
    name="password"
    id=""
  />
  <button class="enter__form-btn" type="submit">Sign up</button>
</form>
