<form
  class="enter__form enter__form--active"
  [formGroup]="signupForm"
  (ngSubmit)="onSignup()"
>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <input
    class="enter__form-input enter__form-input--email"
    placeholder="Full name"
    type="text"
    name="fullName"
    id="fullName"
    formControlName="fullName"
  />
  <input
    class="enter__form-input enter__form-input--email"
    placeholder="Email"
    type="email"
    name="email"
    id="email"
    formControlName="email"
  />
  <input
    class="enter__form-input enter__form-input--password"
    placeholder="Password"
    type="password"
    name="password"
    id=""
    formControlName="password"
  />
  <button class="enter__form-btn" type="submit">Sign up</button>
</form>
