<h2 class="enter__heading">Add Your Card</h2>
<form
  class="enter__form enter__form--active"
  [formGroup]="cardForm"
  (ngSubmit)="onSubmit()"
>
  <input
    class="enter__form-input"
    placeholder="Card owner name"
    type="text"
    name="fullName"
    id="fullName"
    formControlName="ownerName"
  />

  <input
    class="enter__form-input"
    placeholder="Card number"
    type="number"
    name="cardNumber"
    id="cardNumber"
    formControlName="cardNumber"
  />

  <input
    class="enter__form-input"
    placeholder="CVV2"
    type="number"
    name="cvv2"
    id=""
    formControlName="cvv2"
  />
  <input
    class="enter__form-input"
    placeholder="exp date (01/01)"
    type="text"
    name="exp"
    id=""
    formControlName="exp"
  />
  <button class="enter__form-btn" type="submit">Submit</button>
</form>
