<div class="bg">
  <div class="app-container">
    <section class="hero">
      <div class="hero__logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="159"
          height="159"
          viewBox="0 0 159 159"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #707070;
              }
            </style>
          </defs>
          <g id="Group_2" data-name="Group 2" transform="translate(-75 -13)">
            <path
              id="Ellipse_12"
              data-name="Ellipse 12"
              class="cls-1"
              d="M39.878-.5A40.378,40.378,0,0,1,68.429,68.429a40.378,40.378,0,0,1-57.1-57.1A40.114,40.114,0,0,1,39.878-.5Zm0,77.244A36.867,36.867,0,1,0,3.011,39.878,36.908,36.908,0,0,0,39.878,76.744Z"
              transform="translate(76 52.622)"
            />
            <path
              id="Ellipse_12_-_Outline"
              data-name="Ellipse 12 - Outline"
              class="cls-1"
              d="M39.878-1a40.878,40.878,0,0,1,28.9,69.783,40.878,40.878,0,0,1-57.81-57.81A40.61,40.61,0,0,1,39.878-1Zm0,80.756a39.878,39.878,0,0,0,28.2-68.076,39.878,39.878,0,0,0-56.4,56.4A39.617,39.617,0,0,0,39.878,79.756Zm0-77.244A37.367,37.367,0,1,1,2.511,39.878,37.409,37.409,0,0,1,39.878,2.511Zm0,73.733A36.367,36.367,0,1,0,3.511,39.878,36.408,36.408,0,0,0,39.878,76.244Z"
              transform="translate(76 52.622)"
            />
            <path
              id="Ellipse_15"
              data-name="Ellipse 15"
              class="cls-1"
              d="M40.378,0A40.378,40.378,0,0,1,68.929,68.929a40.378,40.378,0,0,1-57.1-57.1A40.114,40.114,0,0,1,40.378,0Zm0,77.244A36.867,36.867,0,1,0,3.511,40.378,36.908,36.908,0,0,0,40.378,77.244Z"
              transform="translate(194.878 13.5) rotate(90)"
            />
            <path
              id="Ellipse_15_-_Outline"
              data-name="Ellipse 15 - Outline"
              class="cls-1"
              d="M40.378-.5a40.878,40.878,0,0,1,28.9,69.783,40.878,40.878,0,0,1-57.81-57.81A40.61,40.61,0,0,1,40.378-.5Zm0,80.756a39.878,39.878,0,0,0,28.2-68.076,39.878,39.878,0,0,0-56.4,56.4A39.617,39.617,0,0,0,40.378,80.256Zm0-77.244A37.367,37.367,0,1,1,3.011,40.378,37.409,37.409,0,0,1,40.378,3.011Zm0,73.733A36.367,36.367,0,1,0,4.011,40.378,36.408,36.408,0,0,0,40.378,76.744Z"
              transform="translate(194.878 13.5) rotate(90)"
            />
            <path
              id="Ellipse_13"
              data-name="Ellipse 13"
              class="cls-1"
              d="M39.878-.5A40.378,40.378,0,0,1,68.429,68.429a40.378,40.378,0,0,1-57.1-57.1A40.114,40.114,0,0,1,39.878-.5Zm0,77.244A36.867,36.867,0,1,0,3.011,39.878,36.908,36.908,0,0,0,39.878,76.744Z"
              transform="translate(153.244 52.622)"
            />
            <path
              id="Ellipse_13_-_Outline"
              data-name="Ellipse 13 - Outline"
              class="cls-1"
              d="M39.878-1a40.878,40.878,0,0,1,28.9,69.783,40.878,40.878,0,0,1-57.81-57.81A40.61,40.61,0,0,1,39.878-1Zm0,80.756a39.878,39.878,0,0,0,28.2-68.076,39.878,39.878,0,0,0-56.4,56.4A39.617,39.617,0,0,0,39.878,79.756Zm0-77.244A37.367,37.367,0,1,1,2.511,39.878,37.409,37.409,0,0,1,39.878,2.511Zm0,73.733A36.367,36.367,0,1,0,3.511,39.878,36.408,36.408,0,0,0,39.878,76.244Z"
              transform="translate(153.244 52.622)"
            />
            <path
              id="Ellipse_14"
              data-name="Ellipse 14"
              class="cls-1"
              d="M40.378,0A40.378,40.378,0,0,1,68.929,68.929a40.378,40.378,0,0,1-57.1-57.1A40.114,40.114,0,0,1,40.378,0Zm0,77.244A36.867,36.867,0,1,0,3.511,40.378,36.908,36.908,0,0,0,40.378,77.244Z"
              transform="translate(194.878 90.744) rotate(90)"
            />
            <path
              id="Ellipse_14_-_Outline"
              data-name="Ellipse 14 - Outline"
              class="cls-1"
              d="M40.378-.5a40.878,40.878,0,0,1,28.9,69.783,40.878,40.878,0,0,1-57.81-57.81A40.61,40.61,0,0,1,40.378-.5Zm0,80.756a39.878,39.878,0,0,0,28.2-68.076,39.878,39.878,0,0,0-56.4,56.4A39.617,39.617,0,0,0,40.378,80.256Zm0-77.244A37.367,37.367,0,1,1,3.011,40.378,37.409,37.409,0,0,1,40.378,3.011Zm0,73.733A36.367,36.367,0,1,0,4.011,40.378,36.408,36.408,0,0,0,40.378,76.744Z"
              transform="translate(194.878 90.744) rotate(90)"
            />
          </g>
        </svg>

        <h1 class="hero__logo_heading">BANKIST</h1>
      </div>

      <img
        class="hero__img"
        src="/assets/images/world.svg"
        alt="world illustrations"
      />
    </section>
    <section class="enter">
      <h2 class="enter__heading">
        <span class="enter__heading-login">Login </span>
        /
        <span class="enter__heading-signup enter__heading--active">
          Signup</span
        >
      </h2>
      <!-- <form class="enter__form enter__form--active" action="#">
        <input
          class="enter__form-input enter__form-input--email"
          placeholder="Email"
          type="email"
          name="email"
          id="email"
        />
        <input
          class="enter__form-input enter__form-input--password"
          placeholder="Password"
          type="password"
          name="password"
          id=""
        />
        <button class="enter__form-btn" type="submit">Sign in</button>
        <p class="enter__form-hint">
          Don't have an account ? <a href="#">Sign up</a> now
        </p>
      </form> -->
      <!-- <app-login></app-login> -->
      <app-signup></app-signup>

      <!-- sign UP -->
      <!-- <form class="enter__form" action="#">
        <input
          class="enter__form-input enter__form-input--email"
          placeholder="Full name"
          type="text"
          name="fullName"
          id="fullName"
        />
        <input
          class="enter__form-input enter__form-input--email"
          placeholder="Email"
          type="email"
          name="email"
          id="email"
        />
        <input
          class="enter__form-input enter__form-input--password"
          placeholder="Password"
          type="password"
          name="password"
          id=""
        />
        <button class="enter__form-btn" type="submit">Sign up</button>
      </form> -->
      <p class="enter__copyright">
        ©️2022 Designed and Developed by <span> Erfan Eslami </span>
      </p>
    </section>
  </div>
</div>
