.home__body {
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: var(--primary-color-gray2);
  backdrop-filter: blur(2rem);

  &__logo {
    height: 3rem;
  }
}

.container {
  max-width: 140rem;
  padding: 2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 40rem;
  column-gap: 4rem;
  row-gap: 2rem;
}

.card {
  // max-width: 63rem;
  // max-height: 40rem;
  // background-color: var(--primary-color-gray2);
  background: linear-gradient(
    to right bottom,
    #0a0a11f3,
    rgba(31, 31, 51, 0.966)
  );
  border-radius: 5rem;
  padding: 5rem;

  &__name {
    text-align: right;
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }

  &__number {
    font-size: 4rem;
    margin-bottom: 8rem;
  }

  &__owner {
    font-size: 3.6rem;
    margin-bottom: 4rem;
  }

  &__balance {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  &__balance_value {
    font-size: 2.4rem;
    font-weight: 500;
  }
}

.movements {
  background-color: var(--primary-color-gray2);
  background: linear-gradient(
    to right bottom,
    #0a0a11f3,
    rgba(31, 31, 51, 0.966)
  );
  border-radius: 2rem;
  padding: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    border-bottom: 1px solid var(--primary-color);
  }

  &__type {
    &--deposit {
      color: var(--color-green);
    }

    &--withdrawal {
      color: var(--color-red);
    }
  }
}

.summery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  grid-column: 2/3;
  padding: 1rem 3.4rem;
  // color: var(--primary-color-gray);
  background-color: var(--primary-color-gray2);
  border-radius: 11px;
  font-weight: 500;
  font-size: 1.8rem;

  &__value {
    &--in,
    &--interest {
      color: var(--color-green);
    }

    &--out {
      color: var(--color-red);
    }
  }
}

.sort {
  cursor: pointer;
}

.operation {
  // border-bottom: 2px solid var(--primary-color-gray2);
  // border-bottom: 2px solid var(--color-green);
  padding: 2rem 0;
}

.operations--close {
  grid-column: 2/3;
}

.operations {
  grid-row: 3/4;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  &__heading {
    color: var(--primary-color-gray2);

    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    gap: 1.5rem;
  }
  &__input {
    width: 60%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-color-gray2);
    padding: 1rem 0.5rem;

    &::placeholder {
      color: var(--primary-color-gray2);
    }

    &:focus,
    &:active {
      outline: none;
      border-bottom: 1px solid var(--color-green);
    }
  }
}
