<main>
  <form
    class="enter__form enter__form--active"
    [formGroup]="transferForm"
    (ngSubmit)="onTransfer()"
  >
    <h2>Transfer money</h2>
    <input
      class="enter__form-input"
      placeholder="receiver card number"
      type="text"
      name="email"
      id="email"
      formControlName="receiverCard"
    />
    <input
      class="enter__form-input"
      placeholder="amount"
      type="number"
      name="transferAmount"
      id=""
      formControlName="transferAmount"
    />
    <input
      class="enter__form-input"
      placeholder="Description"
      type="text"
      name="transferDesc"
      id=""
      formControlName="transferDesc"
    />
    <button class="enter__form-btn" type="submit">transfer</button>
  </form>
</main>
