<div class="bg">
  <div class="app-container">
    <header class="header">
      <div class="header__logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="45"
          height="45"
          viewBox="0 0 45 45"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #707070;
              }
            </style>
          </defs>
          <g
            id="Group_2"
            data-name="Group 2"
            transform="translate(-41.5 -18.5)"
          >
            <path
              id="Ellipse_12"
              data-name="Ellipse 12"
              class="cls-1"
              d="M11-.5a11.5,11.5,0,0,1,8.132,19.632A11.5,11.5,0,0,1,2.868,2.868,11.425,11.425,0,0,1,11-.5Zm0,22A10.5,10.5,0,1,0,.5,11,10.512,10.512,0,0,0,11,21.5Z"
              transform="translate(42 30)"
            />
            <path
              id="Ellipse_15"
              data-name="Ellipse 15"
              class="cls-1"
              d="M11-.5a11.5,11.5,0,0,1,8.132,19.632A11.5,11.5,0,0,1,2.868,2.868,11.425,11.425,0,0,1,11-.5Zm0,22A10.5,10.5,0,1,0,.5,11,10.512,10.512,0,0,0,11,21.5Z"
              transform="translate(75 19) rotate(90)"
            />
            <path
              id="Ellipse_13"
              data-name="Ellipse 13"
              class="cls-1"
              d="M11-.5a11.5,11.5,0,0,1,8.132,19.632A11.5,11.5,0,0,1,2.868,2.868,11.425,11.425,0,0,1,11-.5Zm0,22A10.5,10.5,0,1,0,.5,11,10.512,10.512,0,0,0,11,21.5Z"
              transform="translate(64 30)"
            />
            <path
              id="Ellipse_14"
              data-name="Ellipse 14"
              class="cls-1"
              d="M11-.5a11.5,11.5,0,0,1,8.132,19.632A11.5,11.5,0,0,1,2.868,2.868,11.425,11.425,0,0,1,11-.5Zm0,22A10.5,10.5,0,1,0,.5,11,10.512,10.512,0,0,0,11,21.5Z"
              transform="translate(75 41) rotate(90)"
            />
          </g>
        </svg>
      </div>
      <h1 class="header__heading">Dashboard</h1>
      <div class="header__balance">
        <p class="header__balance_amount">{{ user.balance }} R</p>
        <p class="header__balance_text">Current Balance</p>
      </div>
      <div class="header__profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <div class="header__profile_info">
          <p class="header__profile_info_name">Erfan Eslami</p>
          <p class="header__profile_info_email">erfan_eslami@icloud.com</p>
        </div>
      </div>
    </header>
    <nav class="nav">
      <ul>
        <li class="nav__home nav--active">
          <a href="#">
            <ion-icon name="home-outline"></ion-icon> <span> Home</span></a
          >
        </li>
        <li class="nav__transfer">
          <a href="#"
            ><ion-icon name="swap-horizontal-outline"></ion-icon>
            <span> Transfer </span></a
          >
        </li>
        <li class="nav__loan">
          <a href="#"
            ><ion-icon name="document-text-outline"></ion-icon>
            <span> Loan</span></a
          >
        </li>
        <li class="nav__setting">
          <a href="#"
            ><ion-icon name="cog-outline"></ion-icon><span> Setting</span></a
          >
        </li>
        <li class="nav__logout">
          <a href="#"
            ><ion-icon name="log-out-outline"></ion-icon>
            <span> Log out</span></a
          >
        </li>
      </ul>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
