<div class="card-detail">
  <ul>
    <li>
      <span class="card-detail__head">ID</span>
      <span class="card-detail__value card-detail__value--ID">545612358</span>
    </li>
    <li>
      <span class="card-detail__head">Account</span>
      <span class="card-detail__value card-detail__value--card-number"
        >6219 8610 4429 5383</span
      >
    </li>
    <li>
      <span class="card-detail__head">Status</span>
      <span class="card-detail__value">Active</span>
    </li>
    <li>
      <span class="card-detail__head">Balance</span>
      <span class="card-detail__value card-detail__value--balance"
        >12,000 R</span
      >
    </li>
  </ul>
</div>
