<div class="card-detail">
  <ul>
    <li>
      <span class="card-detail__head">ID</span>
      <span class="card-detail__value card-detail__value--ID">{{
        user.id
      }}</span>
    </li>
    <li>
      <span class="card-detail__head">Account</span>
      <span class="card-detail__value card-detail__value--card-number">{{
        user.card.cardNumber
      }}</span>
    </li>
    <li>
      <span class="card-detail__head">Status</span>
      <span class="card-detail__value">Active</span>
    </li>
    <li>
      <span class="card-detail__head">Balance</span>
      <span class="card-detail__value card-detail__value--balance"
        >{{ user.balance }} R</span
      >
    </li>
  </ul>
</div>
